body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	margin: auto;
	margin-left: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left p {
	font-size: 1em;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 1px;
}
